Source: ros-humble-py-trees-ros-interfaces
Section: misc
Priority: optional
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-action-msgs, ros-humble-ament-cmake, ros-humble-ament-lint-common <!nocheck>, ros-humble-diagnostic-msgs, ros-humble-geometry-msgs, ros-humble-rosidl-default-generators, ros-humble-unique-identifier-msgs, ros-humble-ros-workspace, ros-humble-rosidl-typesupport-fastrtps-c, ros-humble-rosidl-typesupport-fastrtps-cpp
Homepage: http://ros.org/wiki/py_trees_ros_interfaces
Standards-Version: 3.9.2

Package: ros-humble-py-trees-ros-interfaces
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-action-msgs, ros-humble-diagnostic-msgs, ros-humble-geometry-msgs, ros-humble-rosidl-default-runtime, ros-humble-unique-identifier-msgs, ros-humble-ros-workspace
Description: Interfaces used by py_trees_ros and py_trees_ros_tutorials.
